
Project_Coding_Musicians_2022/.vs/Project_Coding_Musicians_2022/v16/.suo
Project_Coding_Musicians_2022/.vs/Project_Coding_Musicians_2022/v16/Browse.VC.db
Project_Coding_Musicians_2022/.vs/Project_Coding_Musicians_2022/v16/ipch/AutoPCH/108aaf6bb49e1a6b/MUSICIANS_FUNCTIONS.ipch
Project_Coding_Musicians_2022/.vs/Project_Coding_Musicians_2022/v16/ipch/AutoPCH/380246c65c70a9af/MUSICIANS_FUNCTIONS.ipch
Project_Coding_Musicians_2022/.vs/Project_Coding_Musicians_2022/v16/ipch/AutoPCH/5b0f4e98df76087c/CONCERT_HEADER.ipch
Project_Coding_Musicians_2022/.vs/Project_Coding_Musicians_2022/v16/ipch/AutoPCH/5be39de1860963e8/INSTRUMENT_FUNCTIONS.ipch
Project_Coding_Musicians_2022/.vs/Project_Coding_Musicians_2022/v16/ipch/AutoPCH/674585c9feb59f64/MUSICIANS_HEADER.ipch
Project_Coding_Musicians_2022/.vs/Project_Coding_Musicians_2022/v16/ipch/AutoPCH/80971388b8904f3d/INSTRUMENT_HEADER.ipch
Project_Coding_Musicians_2022/.vs/Project_Coding_Musicians_2022/v16/ipch/AutoPCH/abefc2a56a26534e/MAIN.ipch
Project_Coding_Musicians_2022/.vs/Project_Coding_Musicians_2022/v16/ipch/AutoPCH/c297567e680714ea/MAIN.ipch
Project_Coding_Musicians_2022/Debug/Main.obj
Project_Coding_Musicians_2022/Debug/Project_.04341ea4.tlog/CL.command.1.tlog
Project_Coding_Musicians_2022/Debug/Project_.04341ea4.tlog/CL.read.1.tlog
Project_Coding_Musicians_2022/Debug/Project_.04341ea4.tlog/CL.write.1.tlog
Project_Coding_Musicians_2022/Debug/Project_.04341ea4.tlog/link.command.1.tlog
Project_Coding_Musicians_2022/Debug/Project_.04341ea4.tlog/link.read.1.tlog
Project_Coding_Musicians_2022/Debug/Project_.04341ea4.tlog/link.write.1.tlog
Project_Coding_Musicians_2022/Debug/Project_.04341ea4.tlog/Project_Coding_Musicians_2022.lastbuildstate
Project_Coding_Musicians_2022/Debug/Project_Coding_Musicians_2022.exe
Project_Coding_Musicians_2022/Debug/Project_Coding_Musicians_2022.exe.recipe
Project_Coding_Musicians_2022/Debug/Project_Coding_Musicians_2022.ilk
Project_Coding_Musicians_2022/Debug/Project_Coding_Musicians_2022.log
Project_Coding_Musicians_2022/Debug/Project_Coding_Musicians_2022.pdb
Project_Coding_Musicians_2022/Debug/Project_Coding_Musicians_2022.vcxproj.FileListAbsolute.txt
Project_Coding_Musicians_2022/Debug/vc142.idb
Project_Coding_Musicians_2022/Debug/vc142.pdb
Project_Coding_Musicians_2022/Project_Coding_Musicians_2022.sln
Project_Coding_Musicians_2022/Project_Coding_Musicians_2022.vcxproj
Project_Coding_Musicians_2022/Project_Coding_Musicians_2022.vcxproj.filters
Project_Coding_Musicians_2022/Project_Coding_Musicians_2022.vcxproj.user
Project_Coding_Musicians_2022/TestyMctestface.txt
Project_Coding_Musicians_2022/x64/Debug/Functions.obj
Project_Coding_Musicians_2022/x64/Debug/Main.obj
Project_Coding_Musicians_2022/x64/Debug/Project_.04341ea4.tlog/CL.command.1.tlog
Project_Coding_Musicians_2022/x64/Debug/Project_.04341ea4.tlog/CL.read.1.tlog
Project_Coding_Musicians_2022/x64/Debug/Project_.04341ea4.tlog/CL.write.1.tlog
Project_Coding_Musicians_2022/x64/Debug/Project_.04341ea4.tlog/link.command.1.tlog
Project_Coding_Musicians_2022/x64/Debug/Project_.04341ea4.tlog/link.read.1.tlog
Project_Coding_Musicians_2022/x64/Debug/Project_.04341ea4.tlog/link.write.1.tlog
Project_Coding_Musicians_2022/x64/Debug/Project_.04341ea4.tlog/Project_Coding_Musicians_2022.lastbuildstate
Project_Coding_Musicians_2022/x64/Debug/Project_Coding_Musicians_2022.exe
Project_Coding_Musicians_2022/x64/Debug/Project_Coding_Musicians_2022.exe.recipe
Project_Coding_Musicians_2022/x64/Debug/Project_Coding_Musicians_2022.ilk
Project_Coding_Musicians_2022/x64/Debug/Project_Coding_Musicians_2022.log
*.pdb
*.idb
*.db-shm
*.db-wal
*.opendb
*.ipch
Project_Coding_Musicians_2022/TestyMctestface.txt
Project_Coding_Musicians_2022/x64/Debug/Project_Coding_Musicians_2022.vcxproj.FileListAbsolute.txt
